/* Body */
body {
    font-family: Comic Sans MS, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #ffffff;
    --secondary: rgb(255, 186, 58);
    --accent: orange;
    
}

/* Navbar */
.navbar{
    background-color:var(--primary);
    height: 30%;
}

.navbar-brand{
    color: var(--primary);
}

.nav-link{
    color: var(--primary);
}

.nav-item{
    color: var(--primary);
}

/* Style for the active navigation link */
.nav-link.active{
    color: #fff; /* Set the text color for the active link */
  }
  
  /* Common styling for navigation links */
  .nav-link {
    text-decoration: none; /* Remove default underline for non-active links */
    color: #fff; /* Set the default text color for non-active links */
    transition: color 0.3s ease; /* Add a smooth transition for color changes */
  }

  body {
    background-color: var(--secondary)

    }

/* Content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
    color: green;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.par {
    font-size: 20px;
    line-height: 1.5;
}


/* Search BTN*/
.btn{
    color: #ffff;

}


/* Footer */
.footer {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}


.footer h4 {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
}

.footer ul li {
    margin-bottom: 5px;
}


/* Style.css */


.navbar-brand img {
    max-width: 80%;
    height: auto;
}

.center {
    text-align: center;   
}

.center{
    height: 100%;
    width: 100%;
}

.center img{
    height: 35%;
    width: 30%;
    justify-content: center;
    border: orange;
    border-style: ridge;
    background-color: orange;
}


/* Style for the container div with class "image" */
.image {
    max-width: 100%; /* Ensure the image container does not exceed its parent's width */
    text-align: center; /* Center the image horizontally */
    margin: 20px 0; /* Add some margin for spacing */
  }
  
  /* Style for the image within the container */
  .image img {
    max-width: 100%; /* Make sure the image does not exceed its container's width */
    height: auto; /* Maintain the aspect ratio of the image */
  }