/* Body */
body {
    font-family: Comic Sans MS, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar{
    background-color:rgb(255, 220, 174);
    height: 30%;
}

.navbar-brand{
    color: #fff;
}

.nav-link{
    color: #ffff;
}

.nav-item{
    color: #ffff;
}

/* Style for the active navigation link */
.nav-link.active{
    color: #fff; /* Set the text color for the active link */
  }
  
  /* Common styling for navigation links */
  .nav-link {
    text-decoration: none; /* Remove default underline for non-active links */
    color: #fff; /* Set the default text color for non-active links */
    transition: color 0.3s ease; /* Add a smooth transition for color changes */
  }
  
  /* Hover effect for navigation links */
  .nav-link:hover {
    color: #fff; /* Change text color on hover */
  }
  


/* Content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
}

.par {
    font-size: 18px;
    line-height: 1.5;
}


/* Search BTN*/
.btn{
    color: #ffff;

}


/* Footer */
.footer {
    background-color: rgb(255, 186, 58);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}


.footer h4 {
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}


/* Style.css */


.navbar-brand img {
    max-width: 80%;
    height: auto;
}

.center {
    text-align: center;   
}

.center{
    height: 100%;
    width: 100%;
}

.center img{
    height: 35%;
width: 30%;
justify-content: center;
border: orange;
border-style: ridge;
background-color: orange;
}


/* Style for the container div with class "image" */
.image {
    max-width: 100%; /* Ensure the image container does not exceed its parent's width */
    text-align: center; /* Center the image horizontally */
    margin: 20px 0; /* Add some margin for spacing */
  }
  
  /* Style for the image within the container */
  .image img {
    max-width: 100%; /* Make sure the image does not exceed its container's width */
    height: auto; /* Maintain the aspect ratio of the image */
  }
  
